html {
  margin: 0 auto;
  max-width: 60em;
  min-width: 30em;
}

body {
  display: grid;
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 1em;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  margin: 1em 0;
  padding: 1em 0;
  background-color: grey;
}

.navbar-item {
  padding: 0 0 0 1em;
  font-size: 1.5em;
}

.about-me {
  font-size: 1.25em;
}

.portfolio,
.contact {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  grid-template-rows: min-content;
  margin: 0 0.25em;
  justify-items: center;
}

.portfolio-header,
.contact-header {
  font-size: 2em;
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
}

.portfolio-link {
  height: calc((9 / 16) * 28em);
}

.portfolio-link-img {
  height: 100%;
}
