html {
  margin: 0 auto;
  max-width: 60em;
  min-width: 20em;
}

body {
  display: grid;
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 1em;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  margin: 1em 0;
  padding: 1em 0;
  background-color: grey;
}

.navbar-item {
  padding: 0 0 0 1em;
  font-size: 1.5em;
}

.about-me {
  font-size: 1.25em;
}

.portfolio {
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 2em;
  grid-auto-columns: 1fr 1fr;
  margin: 0 0.25em;
  justify-items: center;
}

.portfolio-header {
  grid-column: span 2;
  font-size: 2em;
  align-self: center;
  justify-self: center;
}
.portfolio-img {
  height: calc((9 / 16) * 30em);
}
