html {
  margin: 0 auto;
  max-width: 60em;
  min-width: 20em;
}

body {
  display: grid;
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 1em;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  align-self: center;
  justify-self: end;
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 1em;
  grid-auto-columns: auto;
}

.about-me {
  font-size: 1.25em;
}

.portfolio {
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 2em;
  grid-auto-columns: 1fr 1fr;
  margin: 0 0.25em;
}

.portfolio-header {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}
.portfolio-img {
  width: 100%;
  border: solid thin black;
}
